@{
    ViewBag.Title = "Contact";
}
<h2>Contact</h2>
<h3>About the Author</h3>

<p>
    The author of this open-source project is <a href="https://github.com/PranamBhat">Pranam Bhat</a>. He has overall 5+ years of work experience working as a Full Stack Developer. Currently, he work as a Senior Software Engineer at KPMG, improving BI Reporting and Data Visualization for our customers by using Qlik Sense Mashup on Data & Analytics platform. To add on, he is applying his Business Intelligence knowledge to Full Stack Web Development using Qlik Sense data visualization skills. Qlik Sense provides a modern and interactive user interface where you can use the tools for modeling and managing data, creating visualizations, layouts, and stories.
<p>
Previously, he worked as a Full Stack Developer for Capgemini, where he developed an Incident Management Website to handle multiple users and teams across different platforms. The website was basically acting as an inter-mediator and dealing with day to day interaction among the teams which resolve tickets on a priority basis. It includes, end-to-end development of the application using REST API's.
</p>

<p>
Prior to joining KPMG, he worked for Capgemini, Tech Mahindra, Thomson Reuters and Sidsoft Technologies.
</p>

<p>
Competencies: JavaScript, AngularJS, Angular 2/4/5/6/7/8/9/10, C#, .NET Framework, TypeScript, Bootstrap, jQuery, Ruby, Qlik Sense, QlikView, HTML, CSS, UNIX, SQL 
</p>

<br/>
<p>
    You can find more about Pranam Bhat via <a href="https://www.linkedin.com/in/pranam-bhat-11670689/">LinkedIn</a>
</p>

<br/>
<p>
    If you have any queries, kindly send an email : <a href="mailto:pranam707@gmail.com">pranam707@gmail.com</a><br>
</p>